.modal{
    width: 70%;
    position: fixed;
    box-shadow: 1px 2px 3px 1px #ccc;
    border-radius: 5px;
   border: 1px solid #ccc;
    z-index: 200;
    background-color: white;
    left: 30%;
    top: 30%;
    box-sizing: border-box;
    padding: 16px;
    transition-duration: 0.3s;
    ;
    transition-property: all;
    transition-timing-function: ease-out;
}

.showmodal{
    transform: translateX(0);
    opacity: 1;
}
.closemodal{
    transform: translateX(-100vw);
    opacity: 0;
}

@media (min-width:600px) {
    .modal{
        width: 500px;
        left:calc(50%-250px)
    }
    
}