.SideDrawer{
    display: flex;
    flex-direction: column;
    
    background-color: white;
    width: 40vw;
    height: 100vh;
    padding: 30px 15px ;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    z-index: 120;
}
.BoxButton{
    position: absolute;
    bottom: 10%;


}
.Open{
    transform: translateX(0);

}
.Close{
    transform: translateX(100%);
}
@media(width>500px){
   .SideDrawer{
    display: none;

   }
}
